header #upper-header h1 {
  margin: 15px 0;
  float: left;
  font-size: 30px;
  line-height: 1;
  vertical-align: middle; }
  header #upper-header h1 .logo img {
    width: 30px; }
header #upper-header button {
  margin: 15px 5px;
  float: right;
  width: 150px;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #50C5DA;
  border-radius: 5px; }
header #upper-header form {
  margin: 15px 0;
  float: right; }
  header #upper-header form .search {
    float: left;
    padding: 2px;
    width: 100px; }
  header #upper-header form .search-submit {
    float: left;
    width: 26px;
    padding: 3px;
    background-image: url("../images/scope.png");
    background-size: 20px 20px;
    background-position: center; }
header #lower-header {
  clear: both;
  height: 50px;
  padding: 10px;
  background-color: white; }
  header #lower-header h2 {
    padding: 15px 0 5px 0;
    float: right;
    font-size: 18px; }
  header #lower-header ul {
    padding: 15px 0 5px 0;
    list-style-type: none;
    display: table; }
    header #lower-header ul li {
      font-size: 14px;
      float: left;
      padding: 5px;
      border-right: 1px solid lightgray; }
      header #lower-header ul li:last-child {
        border: none; }

#jumbotron .decoration {
  position: relative;
  height: 400px;
  padding: 0;
  background-image: url("../images/jumbo.png");
  background-size: cover;
  background-repeat: no-repeat; }
  #jumbotron .decoration .info-panel {
    background-color: #50C5DA;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 100px;
    width: 40%;
    text-align: left;
    padding: 20px 15px 10px;
    margin-right: 25px;
    color: white; }
    #jumbotron .decoration .info-panel .info-button {
      background-color: black;
      color: white;
      width: 150px;
      padding: 10px;
      text-transform: uppercase;
      border-radius: 10px; }
    #jumbotron .decoration .info-panel h3 {
      font-size: 25px;
      padding: 20px 0 30px;
      text-transform: uppercase; }

#offer .wrap {
  background-color: white; }
  #offer .wrap .mortgage, #offer .wrap .calculator {
    padding: 50px; }
  #offer .wrap img {
    float: left;
    width: 30%; }
  #offer .wrap .mortgage-info {
    width: 70%;
    float: right;
    padding: 0 30px; }
    #offer .wrap .mortgage-info h4 {
      text-align: right; }

#actions .wrap {
  background-color: #50C5DA; }
  #actions .wrap .action {
    text-align: center;
    padding: 30px;
    color: white; }
    #actions .wrap .action .image-wrap {
      margin: 0 auto;
      width: 30%; }
      #actions .wrap .action .image-wrap .action-image {
        width: 100%;
        padding-bottom: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
      #actions .wrap .action .image-wrap #online {
        background-image: url("../images/online.png"); }
      #actions .wrap .action .image-wrap #chat {
        background-image: url("../images/bubble.png"); }
      #actions .wrap .action .image-wrap #percent {
        background-image: url("../images/percent.png"); }
    #actions .wrap .action .action-name {
      font-size: 1.4em;
      margin-top: 20px; }
    #actions .wrap .action .action-description {
      margin-bottom: 20px; }
    #actions .wrap .action .action-button {
      font-size: 1.25em;
      width: 70%;
      padding: 10px;
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid white; }
    #actions .wrap .action p {
      padding: 5px 0; }

#clients .wrap {
  background-color: white; }
  #clients .wrap .client {
    padding: 30px; }
    #clients .wrap .client h4 {
      font-weight: bold; }
    #clients .wrap .client ul {
      list-style-type: square;
      padding-left: 30px; }
      #clients .wrap .client ul li {
        color: gray;
        padding: 10px; }

footer {
  padding: 10px 0;
  color: gray;
  font-size: .8em; }
  footer p {
    padding: 5px 0; }
  footer .copyright {
    width: 70%;
    float: left; }
  footer .map {
    text-align: right;
    width: 30%;
    float: right; }

body {
  background-color: lightgray;
  font-size: 18px; }

button {
  border: none; }

.wrap {
  display: table;
  width: 100%;
  padding: 25px 0; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.1em; }
  h4 a {
    text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
