header{
    #upper-header{
        h1{
            margin: 15px 0;
            float: left;
            font-size: 30px;
            line-height: 1;
            vertical-align: middle;
            .logo{
                img{
                    width: 30px;
                }
            }
        }
        button{
            margin: 15px 5px;
            float: right;
            width: 150px;
            padding: 5px;
            text-align: center;
            color: white;
            background-color: $main-color;
            border-radius: 5px;
        }  
        form{
            margin: 15px 0;
            float: right;
            .search {
                float: left;
                padding: 2px;
                width: 100px;
            }
            .search-submit{
                float: left;
                width: 26px;
                padding: 3px;
                background-image: url("../images/scope.png");
                background-size: 20px 20px;
                background-position: center;
            }
        }
    }
    #lower-header{
        clear: both;
        padding: 10px;
        background-color: white;
        h2{
            padding: 15px 0 5px 0;
            float: right;
            font-size: 18px;
        }
        ul{
            padding: 15px 0 5px 0;
            list-style-type: none;
            display: table;
            li{
                font-size: 14px;
                float: left;
                padding: 5px;
                border-right: 1px solid lightgray;
                &:last-child{
                    border: none;
                }
            }
        }
    }
}