#offer{
    .wrap{
        background-color: white;
        .mortgage, .calculator{
            padding: 50px;
        }
        img{
            float: left;
            width: 30%;
        }
        .mortgage-info{
            width: 70%;
            float: right;
            padding: 0 30px;
            h4{
                text-align: right;
            }
        }
    }
}